<div class="header__container">
  <div class="title__container">
    <span class="title"><a class="title_link" href="/index.html">Gling</a></span>
    <span class="subtitle"><a class="subtitle_link" href="/index.html">URBAN BIKES</a></span>
  </div>
  <a class="nav-icon"></a>
  <div class="nav">
    <div class="nav__list">
      <a class="nav-link" href="index.html">HOME</a>
      <a class="nav-link" href="../shop.html">SHOP</a>
      <a class="nav-link" href="../blog.html">BLOG</a>
      <a class="nav-link" href="../faq.html">FAQ</a>
      <a class="nav-link" href="../contact.html">CONTACT</a>
    </div>
  </div>  
  <div class="cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i><br>MY CART</div>  
</div>