<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gling urban bike</title>  
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">    
    <link rel="stylesheet" href="font-awesome-4.7.0\font-awesome-4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/build.css">  
    <!-- <base href="/works/bike_website/">         -->
  </head>
  