<div class="media">
    <a href="https://www.facebook.com/" class="media--list"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/?lang=pl" class="media--list"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/" class="media--list"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a href="https://pl.pinterest.com/" class="media--list"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/" class="media--list"><i class="fa fa-instagram" aria-hidden="true"></i></a>    
  </div>
